@{
  Layout = "_Layout";
}


@model Bakery.Models.Treat

<h4>Add a New Treat</h4>
@using (Html.BeginForm())
{
  @Html.ValidationSummary() 

  @Html.LabelFor(model => model.TreatName) 
  @Html.TextBoxFor(model => model.TreatName, new { @required  = "required"})

  @Html.Label("Select Flavor")
  @Html.DropDownList("FlavorId", "None")

  <button type="submit" class="btn btn-outline-success" >Add New Treat</button>

}

@Html.ActionLink("Show All Treats", "Index", new { id = 0 }, new { @class = "btn btn-outline-success" })